.DS_Store?
Thumbs.db
tmp/*
tmp/**/*
.DS_Store
*.[oa]
*.rb~
.bundle
db/*.sqlite3*
log/*.log
*.log
*.swp
*~
*.orig
*.pid
nbproject
.idea/workspace.xml
.idea/tasks.xml
.env
*.sublime-project
*.sublime-workspace
.rvmrc
